.teamsDetails, .racesDetails {
    background-color: $color-gray;
    color: $color-orange;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid $color-gray;
    border-radius: 10px;

    p {
        padding-bottom: 5px;
    }

    i {
        margin-left: 10px;
        color: $color-orange;
    }
}