// font-family: 'Prompt', sans-serif;
// font-family: 'Roboto', sans-serif;

$font-headline: 'Prompt', sans-serif;
$font-text: 'Roboto', sans-serif;

$color-gray: #5b5d5b;
//$color-gray: #648d93;
$color-orange: #ff8c00;
//$color-orange: #804040; 